html
    head
        title QuestKey
    body
        h1 Welcome back, #{user.username}!
        h2 Level #{user.level}
        h2 #{user.experience} / #{user.getExperienceForLevel()} XP
        a(href="/reward_me") Give me more experience!
