doctype html
html
    head
        title QuestKey
    body
        ul
            if user
                li
                    a(href="/home") Home
                li
                    a(href="/logout") Logout
            else
                li
                    a(href="login") Login
        block content
